// Définition des variables nécessaires au combat et inclusion de la page de combat
- var nomAdversaire = "Bakanal";
- var enduranceAdversaire = 30;
- var habileteAdversaire = 19;
include ../../combat.jade