h2= "Création d'un personnage"

h3= "Choix des armes"
form(action='/postequipement',method='post')
	div.form-arme1
	select
		option(value='epee', name='arme') Epée 
		option(value='sabre', name='arme') Sabre 
		option(value='lance', name='arme') Lance 
		option(value='masse', name='arme') Masse d'armes 
		option(value='marteau', name='arme') Marteau de guerre 
		option(value='hache', name='arme') Hâche 
		option(value='bâton', name='arme') Bâton 
		option(value='glaive', name='arme') Glaive 
		option(value='gilet', name='arme') Gilet 
		option(value='potion', name='arme') Potion de Lampsur 
		option(value='rations', name='arme') Rations spéciales 

	div.form-arme2
	select
		option(value='epee', name='arme2') Epée 
		option(value='sabre', name='arme2') Sabre 
		option(value='lance', name='arme2') Lance 
		option(value='masse', name='arme2') Masse d'armes 
		option(value='marteau', name='arme2') Marteau de guerre 
		option(value='hache', name='arme2') Hâche 
		option(value='bâton', name='arme2') Bâton 
		option(value='glaive', name='arme2') Glaive 
		option(value='gilet', name='arme2') Gilet 
		option(value='potion', name='arme2') Potion de Lampsur 
		option(value='rations', name='arme2') Rations spéciales 

	div.form-discipline
	h3= "Choix des disciplines"
	input(type='checkbox',value='camouflage', name='discipline')
	| Le Camouflage 
	br
	input(type='checkbox',value='chasse', name='discipline')
	| La Chasse 
	br
	input(type='checkbox',value='sixiemesens', name='discipline')
	| Le 6ème Sens 
	br
	input(type='checkbox',value='orientation', name='discipline')
	| L'Orientation 
	br
	input(type='checkbox',value='guerison', name='discipline')
	| La Guérison 
	br
	input(type='checkbox',value='bouclierpsy', name='discipline')
	| Le Bouclier Psychique 
	br
	input(type='checkbox',value='puissancepsy', name='discipline')
	| La Puissance Psychique 
	br
	input(type='checkbox',value='comanimale', name='discipline')
	| La Communication Animale 
	br
	input(type='checkbox',value='maitrisepsy', name='discipline')
	| La Maîtrise Psychique De La Matière 
	br
	input(type='checkbox',value='maitrisearmes', name='discipline' id="maitrisearmes")
	| La Maîtrise Des Armes 
	| Choisissez une valeur entre 0 et 9 : 
	input(disabled type='text',value='', name='maitrisearme', id='valeurmaitrisearmes') 

