extends layout

block content
    h2 Aide

    div
	a(href="./help/principles")="Principes du jeu"
    div
	a(href="./help/disciplines")="Disciplines Kai"
    div
	a(href="./help/equipment")="Équipement"