doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Cinzel+Decorative')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      h1 Lone Wolf : Les Grottes de Katle
      include ./navbar.jade
      block content
      include ./footer.jade
  script(src='/js/script.js')