ul.nav
  each name in ["index", "character", "help"]
    if (name=="index")
      li.nav
        a.nav(href="/")= "Accueil"
    else if (name=="character")
      li.nav
        a.nav(href="/character")= "Création d'un personnage"
    else if (name=="help")
      li.nav
        a.nav(href="/help")= "Aide"


