a.confirmation-perte-endurance Recalculez vos points d'endurance
p Utilisez la Table de Hasard pour obtenir unchiffre. Si vous tirez un chiffre entre 0 et 4, rendez-vous à la
    a.lien-page page 62
p Entre 5 et 9, rendez-vous à la 
    a.lien-page(href="/jeu/288") page 288