div#decision
	p Si vous souhaitez abandonner les traîneaux et les chiens pour franchir à pied les monts Myjavik, rendez-vous à la 
		a.lien-page(href="/page/12") page 12
	p Si vous préférez perdre deux jours et revenir sur le glacier de Viad, rendez-vous à la 
		a.lien-page(href="/page/238") page 238