#creationJoueur {
    background-color: #808080;
}

.erreurs {
    margin : 0px 20px;
    color: red;
    width: 560px;
}

.erreurs p {
    text-align: center;
}

.logo {
    width: 736px;
    height: 200px;
    margin: 20px auto 10px;
    display: block;
}

fieldset {
    margin-bottom: 30px;
    border: 2px solid black;
    border-color: gray;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
}

legend {
    padding: 0 10px;
    margin-left: 15px;
    font-size: 1.5em;
}

form p {
    margin: 20px 20px;
}

section label {
    display: block;
    margin: 0 0 10px 10px;
}

div#gauche, div#droite {
    width: 250px;
    display: inline-block;
}

div {
    vertical-align: top;
    margin: 10px 20px;
}

form label input {
    margin-right: 10px;
}

.button {
  line-height: 55px;
}

.button[disabled] {
    opacity:0.5;
}

#listeJoueurs {
    display: block;
    margin : 10px auto;
    width:250px;
}

#listeJoueurs li{
    list-style: none;
    margin: 0;
    padding: 5px 0;
}

#listeJoueurs li:not(:last-child){
    border-bottom: 1px solid #ddd;
}

#listeJoueurs a {
    background: none;
    color: #008000;
}

#listeJoueurs img {
    height:16px;
    width:16px;
    vertical-align: top;
    float: right;
    cursor: pointer;
}

#listeJoueurs img:hover {
    opacity: 0.7;
}

.spinner {
    display: block;
    margin: auto;
}