body {
  padding: 50px;
  background: #000 url("../images/parchment.gif") no-repeat center top;
  font: 18px Georgia, Helvetica, Arial, sans-serif;
}

.container {
  position:relative;
  margin:auto;
  max-width:880px;
  padding-top:110px;
}

h1, h2, h3 {
  font-family: "Cinzel Decorative";
  
}

h1 {
  text-align: center;
  font-size:40px;
}

/* NavBar Style */

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
}

.nav li {
  display:inline-block;
}

a.nav {
  color: #FFFFFF;
}

a.nav:link, a.nav:visited{
	width: 260px;
	display: block;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 4px;
  text-decoration: none;
}

a.nav:hover, a.nav:active {
    background-color: rgba(0, 0, 0, 0.6);
}

/* Button Style */

a.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #ffffff;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  width: 300px;
  text-align: center;
  font-weight: bold;
  position: relative;
  display: block;
  margin: 10px auto;
}

a.btn:hover {
  background: #BDBDBD;
  text-decoration: none;
}

.barre-vie div {
  border-radius: 5px;
  display: block;
  height: 10px;
  width: 100%;
  background: #2ecc71;
}

.barre-vie {
  border-radius: 5px;
  display: block;
  background: #ccc;
  height: 10px;
  width: 100%;
}

.illustration {
  position: relative;
  margin: 10px auto;
  display: block;
  border:5px solid #fff;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
  border-radius:2px;
}