body {
  padding: 50px;
  background: #000 url("../images/parchment.gif") no-repeat center top;
  font: 18px Georgia, Helvetica, Arial, sans-serif;
}

.container {
  position:relative;
  margin:auto;
  max-width:880px;
  padding-top:110px;
}

h1, h2, h3, h4 {
  font-family: "Cinzel Decorative";
  
}

h1 {
  text-align: center;
  font-size:40px;
}

h2 {
  text-align: center;
}

h4 {
  margin: 3px 0;
}

.form-armes{
  display: flex;
  justify-content: space-around;
}

.form-discipline{
  position: relative;
}

.liste-disciplines {
  -webkit-columns: auto 2; /* Chrome, Safari, Opera */
  -moz-columns: auto 2; /* Firefox */
  columns: auto 2;
}

.form-submit{
  position: relative;
}

.combats table{
  text-align: center;
  width: 80%;
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 20px;
}

.combat table{
  text-align: center;
  width: 80%;
  margin-left: 0%;
  margin-bottom: 20px;
}
/* NavBar Style */

.nav {
  list-style-type: none;
  margin: 0 30px;
  padding: 0;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-content: stretch;
}

.nav li {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  flex-grow: 1;
  height: 2em;
  line-height: 2em;
}

.nav a {
  color: #FFFFFF;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
}

.nav a:hover, .nav a:active {
    background-color: rgba(0, 0, 0, 0.6);
}

/* Button Style */

.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #ffffff;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  width: 300px;
  text-align: center;
  font-weight: bold;
  position: relative;
  display: block;
  margin: 10px auto;
  border: none;
  box-sizing: border-box;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.barre-vie div {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  background: #2ecc71;
  transition: all 1s ease;
}

.barre-vie {
  border-radius: 5px;
  background: #ccc;
  height: 10px;
  width: 100%;
}

.illustration {
  position: relative;
  margin: 10px auto;
  display: block;
  border:5px solid #fff;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
  border-radius:2px;
}

.imgright {
  position: relative;
  float: right;
}

/* Details de Jeu */

.detailsJeu {
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.invisible {
  display: none;
}

.detailsJeu div {
    padding: 0 15px;
}

.detailsJeu ul {
  padding-left:18px;
}

.detailsJeu h3, .detailsJeu ul {
  margin: 0;
}

.detailCaracteristiques{
    margin: 0;
    padding: 0;
    order: 1;
}

.detailSac{
    order: 2;
}

.detailDisciplines{
    order: 3;
}

#btnDetails, #btnCombats {
  cursor: pointer;
}

.regionButton{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contenu {
  height: 950px;
  overflow: auto;
}

.footer {
  font-size: 14px
}