h2= "Règles du jeu"

div.contenu
	p Au cours de l'initiation qui vous a permis de devenir un Seigneur Kaï, vous avez acquis une force exceptionnelle ; les deux éléments essentiels de cette force sont représentés par votre HABILETÉ au combat et votre ENDURANCE. Avant d'entreprendre votre mission, le degré d'efficacité de votre entraînement sera déterminer aléatoirement entre 20 et 29.
	p Lorsque vous aurez à combattre, il faudra mesurer votre HABILETÉ à celle de votre adversaire. Il est donc souhaitable que votre total d'HABILETÉ soit le plus élevé possible. Cette valeur sera aussi déterminer aléatoirement entre 10 et 19 au debut de la partie.
	p Si vous êtes blessé lors d'un combat, vous perdrez des points d'ENDURANCE et si jamais votre ENDURANCE tombe à zéro, vous saurez alors que vous venez d'être tué et que votre aventure est terminée. Au cours de votre mission, vous aurez la possibilité de récupérer des points d'ENDURANCE mais votre total d'ENDURANCE ne pourra en aucun cas dépasser celui dont vous disposiez au départ de votre mission.
	p Au cours des siècles, les moines Kaï ont appris à maîtriser toutes les techniques du guerrier. Ces techniques sont connues sous le nom de Disciplines Kaï et enseignées aux Seigneurs Kaï. Vous avez, quant à vous, le rang d'Initié, ce qui signifie que vous maîtrisez cinq des techniques décrites à cette 
		a(href="/aide/disciplines") page. 
	p Il vous appartient de choisir vous-même ces cinq Disciplines. Chaque Discipline Kaï peut vous être utile à un moment ou à un autre de votre quête et votre choix devra être le plus judicieux possible; dans certaines circonstances, une habile mise en pratique de l'une de ces techniques peut vous sauver la vie.