div#decision
	p Si le total obtenu se situe entre -2 et 2, rendez-vous à la 
		a.lien-page(href="/page/248") page 248
	p S'il est de 3 à 10, rendez-vous à la 
		a.lien-page(href="/page/191") page 191