a.confirmation-perte-endurance Recalculez vos points d'endurance 
p L'huile de Bakanal vous permet cependant de conserver suffisamment de chaleur dans votre corps pour arriver à survivre : sans elle, le froid aurait eu raison de vous. 

div#decision
	p Rendez-vous à présent à la 
		a.lien-page(href="/page/155") page 155