p Vous vous cramponnez à la paroi rocheuse pendant toute la nuit. Le vent glacial vous cingle le visage et vous êtes saisi detremblements incontrôlables, luttant de toutes vos forces pour nepas vous évanouir. 
p Vous perdez 2 points d'ENDURANCE. 
a.confirmation-perte-endurance Recalculez vos points d'endurance 
p L'huile de Bakanal vous permet cependant de conserver suffisamment de chaleur dans votre corps pour arriver à survivre : sans elle, le froid aurait eu raison de vous. 
p Rendez-vous à présent à la 
    a.lien-page page 155
 