p Vous cachez le cadavre sous l'escalier et vous vous hâtez de le fouiller. Vous y découvrez une Épée d'Os et un Disque de Pierre Bleue.
div#decision	
	p Cochez les Objets Spéciaux que vous désirez conserver.
	form(action='/page/331',method='post', id='formObjSpeciaux')
		div.form-objSpeciaux
			div.liste-objSpeciaux
				input(type='checkbox', value="Épée d\'Os", name='objSpeciaux')
				| Épée d'Os
				br
				input(type='checkbox', value='Disque de Pierre Bleue', name='objSpeciaux')
				| Disque de Pierre Bleue
		div.form-submit
			p Vous abandonnez ensuite le cadavre et vous montez l'escalier quatre à quatre. 
			p Rendez-vous à la 
				input.lien-page(type='submit', value='page 331')