div#decision
	p Si vous tirez un chiffre entre 0 et 3, rendez-vous à la 
		a.lien-page(href="/page/57") page 57
	p Entre 4 et 6, rendez-vous à la 
		a.lien-page(href="/page/188") page 188
	p Entre 7 et 9, rendez-vous à la 
		a.lien-page(href="/page/331") page 331