p Si vous tirez un chiffre entre 0 et 3, rendez-vous à la 
	a.lien-page(href="/jeu/4") page 4
p Entre 4 et 6, rendez-vous à la 
	a.lien-page page 188
p Entre 7 et 9, rendez-vous à la 
	a.lien-page(href="/jeu/331") page 331