div#decision
	p Si vous vous êtes enduit le corps d'huile de Bakanal, rendez-vous à la 
		a.lien-page(href="/page/209") page 209
	p Dans le cas contraire, rendez-vous rendez-vous à la 
		a.lien-page(href="/page/339") page 339