h2="Règles de combat"

div.contenu
	p Au cours de votre mission, vous aurez parfois à combattre un ennemi. Le texte vous précisera en chaque circonstance quels sont les points d'HABILETÉ et d'ENDURANCE de l'ennemi en question. Le Loup Solitaire (c'est-à-dire vous-même) devra alors s'efforcer de tuer son adversaire en réduisant à zéro les points d'ENDURANCE de ce dernier, tout en essayant lui-même de perdre le moins possible de points d'ENDURANCE au cours de l'affrontement. Chaque affrontementse déroule de la manière suivante :
	ul
		li À votre total d'HABILETÉ seront ajouté les points supplémentaires que certaines Disciplines Kaï peuvent vous donner.
		li Du total obtenu seront soustrait les points d'HABILETÉ de votre adversaire. Le résultat de cette soustraction vous donnera un Quotient d'Attaque.
		li Un nombre aléatoire entre 0 et 9 est choisi. En utilisant ce nombre et le quotient d'attaque, on consulte la table de correspondance illustrée aux figures 1a et 1b, afin de déterminer le nombre de points d'ENDURANCE qui seront perdus par le joueur et l'ennemi.
		li On diminue les points d'ENDURANCE du joueur et de l'ennemi.
		li À moins qu'une possibilité de fuite soit offerte ou que des indications différentes soient fournies, on recommence une nouvelle rounde de combat, en retournant à l'étape 3. On continue ainsi jusqu'à ce qu'un des deux combattant soit mort.

	h3= "Possibilités de fuite"
	div
		p Au cours de votre aventure, la possibilité d'échapper à un combat vous sera parfois accordée. Si vous avez déjà engagé un Assaut et que vous décidiez de prendre la fuite, menez d'abord cet Assaut à son terme en observant les règles habituelles. Mais votre adversaire ne perdra alors aucun point d'ENDURANCE. Seul vous, le Loup Solitaire, perdrez le nombre de points indiqué par la Table des Coups Portés. Vous pourrez ensuite vous enfuir après avoir payé votre couardise par la réduction de votre total d'ENDURANCE. Mais rappelez-vous que vous n'aurez le droit de prendre la fuite que si vous y êtes autorisé ; les précisions nécessaires vous seront fournies à chaque fois.

	h3= "Table de correspondance"
	img.illustration(src="/images/combatTable.png")