h2= "Disciplines Kai"

div.contenu
	b Le Camouflage : 
	p Cette technique permet au Seigneur Kaï de se fondre dans le paysage. À la campagne, il peut se cacher parmi les arbres et les rochers et se rendre de cette façon invisible à l'ennemi même s'il passe tout près de lui. Dans une ville, cette Discipline donnera à celui qui l'utilise la faculté d'avoir l'air d'un habitant du cru, tant par l'apparence que par l'accent ou la langue employée. On peut ainsi trouver un abri où se cacher en toute sécurité.

	b La Chasse : 
	p Cette Discipline donne au Seigneur Kaï l'assurance qu'il ne mourra jamais de faim, même s'il se trouve dans un environnement hostile. Il aura toujours la possibilité de chasser pour se procurer de la nourriture, sauf dans les déserts et autres régions arides. Vous devez savoir que la Vassagonie est un empire situé au coeur du désert. Dans ce pays aride, les occasions de faire bonne chasse seront peut-être rares, pour ne pas dire inexistantes. Cette technique, cependant, se révélera très utile, car elle permet à un Seigneur Kaï de se déplacer très vite et avec une grande agilité.
	
	b Sixième sens : 
	p Grâce à cette technique, le Seigneur Kaï devine les dangers imminents qui le menacent. Ce Sixième Sens peut également lui révéler les intentions véritables d'un inconnu ou la nature d'un objet étrange rencontré au cours d'une aventure.
	
	b L'Orientation : 
	p Chaque fois qu'il se trouvera dans l'obligation de décider quelle direction il doit prendre, le Seigneur Kaï fera toujours le bon choix grâce à cette technique. Il saura ainsi quel chemin il convient d'emprunter dans une forêt et il pourra également, dans une ville, découvrir l'endroit où est caché une personne ou un ob jet. Par ailleurs, il saura interpréter chaque trace de pas, chaque empreinte qui pourrait lui permettre de remonter une piste.
	
	b La Guérison : 
	p Cette Discipline donne la faculté de récupérer des points d'ENDURANCE perdus lors d'un combat. Si vous maîtrisez cette technique, vous pourrez ajouter 1 point d'ENDURANCE à votre total chaque fois qu'il vous sera possible d'aller d'un bout à l'autre d'un paragraphe sans avoir à combattre un ennemi. (Vous n'aurez le droit d'utiliser cette technique de la Guérison que lorsque vos points d'ENDURANCE seront tombés en dessous de votre total initial. Rappelez-vous que vos points d'ENDURANCE ne peuvent en aucun cas excéder votre total de départ.)
	
	b La Maîtrise des Armes : 
	p En entrant au monastère Kaï, chaque élève a la possibilité d'être initié au maniement d'une arme. Si vous choisissez d'avoir la Maîtrise d'une arme, choisissez un chiffre aléatoire entre 0 et 9 pour obtenir un chiffre qui correspondra, dans la liste ci-dessous, à l'arme dont on vous aura enseigné le maniement. Vous aurez dès lors la parfaite Maîtrise de cette arme et, chaque fois que vous combattrez avec elle, vous aurez droit à 2 points d'HABILETÉ supplémentaires. Le fait que vous ayez la Maîtrise d'une arme ne signifie nullement que vous disposerez de cette arme dès le début de votre aventure; au cours de celle-ci, cependant l'occasion vous sera donnée de vous la procurer. Vous pourrez d'ailleurs acquérir diverses armes au cours de votre quête mais vous n'aurez pas le droit d'en posséder plus de 2 à la fois.
	ul
		li 0 : Le poignard
		li 1 : La lance
		li 2 : La masse d'armes
		li 3 : Le sabre
		li 4 : Le marteau de guerre
		li 5 : L'épée
		li 6 : La hâche
		li 7 : L'épée
		li 8 : Le bâton
		li 9 : Le glaive
	
	b Bouclier Psychique : 
	p Certaines créatures malfaisantes de Magnamund ont la faculté de vous porter atteinte en faisant usage de leur force psychique. La technique du Bouclier Psychique vous permet cependant dene pas perdre de points d'ENDURANCE lorsque vous vous trouvez soumis à une telle agression.
	
	b Puissance Psychique : 
	p Cette technique permet au Seigneur Kaï d'attaquer un ennemi en se servant de la force de son esprit : on peut l'utiliser en même temps qu'une arme de combat habituelle et l'on dispose alors de 2 points supplémentaires d'HABILETÉ. Cette Puissance Psychique, cependant, n'est pas forcément efficace avec toutes les créatures : il se peut que certaines d'entre elles y soient insensibles. Si le cas se présente, vous en serez averti au cours de votre mission.
	
	b Communication Animale : 
	p Grâce à cette technique, un Seigneur Kaï peut communiquer avec certains animaux et deviner les intentions de certains autres. 
	
	b Maîtrise Psychique de la Matière : 
	p C'est une technique qui donne à un Seigneur Kaï la faculté de déplacer de petits objets par le simple pouvoir de sa concentration mentale.