h2= "Équipement"

div.contenu
	p Finalement, avant de commencer l'aventure, il doit monter son équipement, jusqu'à un maximum de deux items. Le joueur ne peut jamais porter plus de deux armes, et son sac à dos ne peut contenir plus de huit objets incluant les repas (à noter que les Pièces d'Or ne sont pas dans le sac à dos, mais dans une bourse portée à la ceinture). Vous avez le droit àtout moment d'échanger l'un de ces objets ou tout simplement de vous en débarrasser, mais il vous est interdit de le faire lorsque vous êtes engagé dans un combat. Les objets spéciaux ne sont pas rangés dans le sac à dos, donc ils ne prennent pas d'espaces. Il choisit deux items parmi les items suivants :
	
	ul
		li	Épée : (Arme).
		li	Sabre : (Arme).
		li	Lance : (Arme).
		li	Masse d'armes : (Arme).
		li	Marteau de guerre : (Arme).
		li	Hâche : (Arme).
		li	Bâton : (Arme).
		li	Glaive : (Arme).
		li	Gilet de cuir matelassé : (Objet spécial). Ce gilet donne deux points d'ENDURANCE supplémentaires.
		li	Potion de Lampsur : (Objet contenu dans le sac à dos). Cette potion vous rendra 4 points d'ENDURANCE lorsque vous la boirez à la fin d'un combat. Le flacon que l'on vous donnen'en contient qu'une seule dose.
		li	Rations spéciales : (Objet contenu dans le sac à dos). Elles comptent pour un repas.