div#decision
	p Si vous acceptez de l'imiter en vous appliquant de l'huile de Bakanal sur le corps, rendez-vous à la 
		a.lien-page(href="/page/91") page 91
	p Si, en revanche, l'idée de sentir à peu près aussi bon qu'une cuve remplie de roquefort rance ne vous séduit guère, rendez-vous à la 
		a.lien-page(href="/page/172") page 172