//Page de jeu 78
p Vous vous préparez en hâte et vous sortez de la tente. Le vent s'est intensifié et il emporte la neige poudreuse en petits tourbillons qui réduisent considérablement la visibilité. Une ombre sur votre droite trahit la présence du Bakanal qui bonditsur vous. Vous n'avez plus le temps d'éviter son Assaut, et il vous faut le combattre jusqu'à la mort.
img.illustration(src="/images/ill5.png" height="300")

// Définition des variables nécessaires au combat et inclusion de la page de combat
- var nomAdversaire = "Bakanal";
- var enduranceAdversaire = 30;
- var habileteAdversaire = 19;
include ../combat.jade