div.contenu
    p Preparing yourself, you pull back the flap of the tent and quickly leave. The wind has become much stronger, and it whips the fine snow into small eddies, obscuring your vision. A shadow to your right betrays the Baknar as it lopes towards you. There is no time to evade its attack and you must fight the creature to the death.
    img(src="/images/ill5.png")
    p Baknar: COMBAT SKILL 19   ENDURANCE 30
    
div.combats
    h2 Combat
    table
        tr
            th(colspan='3') Round n°1
        tr 
            th
            th Votre personnage
            th Votre adversaire
        tr
            td
            td 0
            td -7
        tr  
            td Total
            td 19
            td 23
            
            
        