// Page de jeu 78

p Preparing yourself, you pull back the flap of the tent and quickly leave. The wind has become much stronger, and it whips the fine snow into small eddies, obscuring your vision. A shadow to your right betrays the Baknar as it lopes towards you. There is no time to evade its attack and you must fight the creature to the death.
img.illustration(src="/images/ill5.png" height="500")

// Définition des variables nécessaires au combat et inclusion de la page de combat
- var nomAdversaire = "Baknar";
- var enduranceAdversaire = 30;
- var habileteAdversaire = 19;
include ../combat.jade