p Si vous souhaitez sortir de la tente pour vous lancer à l'attaque du Bakanal, rendez-vous à la 
    a.lien-page(href="/jeu/78") page 78
p Si vous maîtrisez la Discipline Kaï de la Chasse, rendez-vous à la 
    a.lien-page(href="/jeu/204") page 204
p Si vous maîtrisez la Discipline Kaï de la Communication Animale, rendez-vous à la 
    a.lien-page page 318