// Définition des variables nécessaires au combat et inclusion de la page de combat
- var nomAdversaire = "Languabarb";
- var enduranceAdversaire = 35;
- var habileteAdversaire = 11;
include ../combat.jade

p Si vous tuez la créature sans perdre aucun point d'ENDURANCE, rendez-vous à la 
	a.lien-page page 70
p Si vous perdez des points d'ENDURANCE aucours du combat, rendez-vous immédiatement à la 
	a.lien-page(href="/jeu/129") page 129