div#decision(ng-show="decisions.length")
    img(src="/images/decision.jpg")
    div
        p(ng-show="decisions[0].valeurAleatoire != undefined") Votre valeur aléatoire est {{ decisions[0].valeurAleatoire }}
        p(ng-repeat="decision in decisions") 
            | {{decision.text}} 
            a(ng-class="{disabled: !decision.isValid}" ng-click="decision.isValid && chargerPage(decision.lien)") rendez-vous à la page {{decision.page}}
            
div#ajouterObjets(ng-show="page.ajouterObjets")
    p {{ page.ajouterObjets.text}}
    div(ng-repeat="item in page.ajouterObjets.items")
        input(type="checkbox" ng-model="objetsAAjouter[item]")
        |   {{ item }}
    br
    a(ng-click="mettreAJourObjets()") Valider et continuer

div#confirmation(ng-show="confirmation")
    p {{confirmation.message}}
    br
    a(ng-click="mettreAJourJoueur(confirmation.joueur, confirmation.lien)") Confirmer et continuer