extends ../layout

block head
    link(rel="stylesheet", href="/stylesheets/pageJeu.css")

block content
    main(ng-controller = "controleurPages")
        div#title
            img(src="/images/pageTitre.png")
            p#numeroPage {{page.id}}

        section#histoire
            p(ng-repeat="c in page.contenu")
                img(src="{{c.img}}" ng-show="c.img")
                {{c.text}}
            
            // Dans le cas d'une décision    
            div#decision(ng-show="decision.length")
                img(src="/images/decision.jpg")
                div
                    p(ng-show="decision[0].valeurAleatoire != undefined") Votre valeur aléatoire est {{ decision[0].valeurAleatoire }}
                    p(ng-repeat="d in decision") 
                        | {{d.text}} 
                        a(ng-class="{disabled: !d.isValid}" ng-click="d.isValid && chargerPage(d.page)") rendez-vous au {{d.page}}
                        
            div#confirmation(ng-show="confirmation")
                p {{confirmation.message}}
                a(ng-click="mettreAJourJoueur(confirmation.joueur, confirmation.lien)") Continuer
            
        include ./stats.jade
