extends ../layout

block head
    link(rel="stylesheet", href="/stylesheets/pageJeu.css")

block content
    main(ng-controller = "controleurPages")
        div#title
            img(src="/images/pageTitre.png")
            p#numeroPage {{page.id}}

        section#histoire
            p(ng-repeat="c in page.contenu")
                img(ng-show="c.img" ng-src="{{c.img}}")
                {{c.text}}
            
            include ./decisions.jade
            include ./combat.jade
                
        include ./stats.jade
