extends ../layout

block head
    link(rel="stylesheet", href="/stylesheets/pageJeu.css")

block content
    main(ng-controller = "controleurPages")
        div#contenu.floatbox
            div#title
                p#numeroPage {{page[0].id}}
    
            section#histoire(ng-repeat="section in page track by $index")
                p(ng-repeat="c in section.contenu")
                    img(ng-show="c.img" ng-src="{{c.img}}")
                    {{c.text}}

                include ./decisions.jade
                include ./combat.jade
                
                div#finPartie(ng-show="section.finPartie")
                    p(ng-show="section.finPartieMessage") {{ section.finPartieMessage }}
                    p La partie est terminée. 
                    p Veuillez retournez à l'accueil pour créer un nouveau personnage et commencer un nouvelle partie.

        include ./stats.jade
