extends ../layout

block head
    link(rel="stylesheet", href="/stylesheets/pageJeu.css")

block content
    main(ng-controller = "controleurPages")
        div#contenu.floatbox
            div#title
                p#numeroPage {{page[0].id}}
    
            section#histoire(ng-repeat="section in page track by $index")
                a(ng-show="section.finPartie" ng-click="supprimerJoueur()") La partie est terminée. Retour à l'accueil
                
                p(ng-show="!section.finPartie" ng-repeat="c in section.contenu")
                    img(ng-show="c.img" ng-src="{{c.img}}")
                    {{c.text}}
                
                div(ng-show="!section.finPartie")
                    include ./decisions.jade
                    include ./combat.jade
                
                
        
        include ./stats.jade
