section#stats
    p Feuille d'Aventure
    table
        tbody
            tr
                td
                    img(src="/images/points_endurance.png")
                td
                    p {{ joueur.endurancePlus }} / {{ joueur.enduranceBase }}
            tr
                td
                    img(src="/images/points_habilete.png")
                td
                    p#habilete {{ joueur.habileteBase }} + {{ joueur.habiletePlus-joueur.habileteBase }} = {{ joueur.habiletePlus }}
            tr
                td
                    img(src="/images/pieces_or.png")
                td
                    p {{ joueur.pieceOr }}
    div
        p Disciplines Kai
        ul#disciplines
            li(ng-repeat="d in joueur.disciplines") {{ d }}

    p
        a.button(ng-click="sacADos=true") Sac à dos
    
    div#sacADos(ng-show="sacADos")
        a#fermerSacADos(ng-click="sacADos=false")
        img(src="/images/backpack.png")
        div
            div
                p Objets
                ul
                    li(ng-repeat="obj in joueur.objets") {{ obj }}
            div
                p Objets Spéciaux
                ul
                    li(ng-repeat="objSpe in joueur.objetsSpeciaux") {{ objSpe }}

